{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Congratulations, you have finished the experiment.


{% endblock %}

{% block content %}

    <html>
    <body>


        <p style="line-height: 2em;">
        Your experiment ID is: {{id}}    <br>
        Your coffee experiment payment is: {{total_bonus}}    <br>
        Your trust game payment is:  {{payoff_trust}}     <br>
        Your certainty equivalent game payment is:  {{payoff_cem}}    <br>
        <b>Your total payment is: {{payoff_all}}</b>  <br><br>
        <p><font size ='4'>Please <b>DO NOT</b> close this page as we wait for other participants to finish.</font></p><br>
        After everyone is done, we will confirm your total payment, and you will receive payment in cash rounded UP to the nearest whole dollar. <br>
        </p>

    </body>

</html>


{% endblock %}