{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Marketing: Retail Price Setting
{% endblock %}

{% block content %}
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
    <p>Procurement has successfully sourced one pound of coffee beans at a wholesale price of <b>W={{ player.W }}.</b></p>
    <p>Prior to making an offer, procurement assessed the quality of the coffee and assigned it an <b>overall quality score of {{player.coffee_quality}} out of 5.</b></p>
    <p><b>Note: </b>one pound of coffee beans produces 28 drinkable cups of brewed coffee.</p>
    <p>You may now set the retail price <i><b>(R)</b></i> for a cup of coffee made from these beans.</p>

    {% formfield 'R' label="Enter R here" %}<br>

    <input id="lock" class="btn btn-primary" name="lockin2" value="Test your current choice" onclick="checkSubmit2()">  </input> <br>
    <p>Retail customers are willing to pay anywhere between $1 and $7 per cup, with equal possibility.</p>
    <p>You have earned a <u>cost savings bonus of {{  player.group.cost_bonus }}.</u></p>
    <p>If you choose this retail price <i><b>(R)</b></i>, then:</p>
    <ul>
    <li>{{market_demand}}% of market demand would be satisfied, leaving {{coffee_not_used}} pounds of coffee unsold</li>
    <li>You would earn a <u>revenue sharing bonus of {{ profit_bonus }}</u></li>
    <li>Your firm’s profit would be {{ earn }}</li>
    <li>Your total payment for today’s coffee experiment would be {{ player.group.total_bonus_coffee }}</li>
    </ul>

    <button  type="button" name="lockin2" value="Finalize your choice R" class="btn btn-primary" onclick="checkSubmit()">Finalize your choice R</button>

    <script>
        function checkSubmit() {
            let form = document.getElementById('form');
            let isValid = form.reportValidity();
            if (!isValid) return;
            let warnings = [];
            if (warnings.length >= 0) {
                warnings.push("Confirm your bid?")
                let confirmed = window.confirm(warnings.join('\r\n'));
                if (!confirmed) return;
            }
            document.getElementById('lock').value = 'lockin';
            form.submit();
        }

        function checkSubmit2() {
            let form = document.getElementById('form');
            let isValid = form.reportValidity();
            if (!isValid) return;
            form.submit();
        }
    </script>
</body>
</html>
{% endblock %}
