{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Market Research Information


{% endblock %}

{% block content %}

    <html>
    <body>


        <p style="line-height: 2em;">
        Your chain’s <b>market research division</b> is tasked with providing you with the information necessary to make good wholesale and retail pricing decisions for your company.<br>

<h2>Supplier Cost Information:</h2>
The research division has found that the <u>average production cost</u> of all roasted coffee suppliers is normally distributed with an average cost of $6 per pound and standard deviation of $0.5. <br><br>

<h2>Consumer Information:</h2>
Similarly, research reports that retail customers are willing to pay anywhere between 1 and 7 dollars per cup, with equal likeliness.<br><br>

        <u> Note:</u> Supplier cost is given per pound but consumer willingness to pay is given per cup. Your firm converts one pound of roasted beans produces retail-ready 28 cups of coffee. <br><br>

        You should take this information into account when choosing a wholesale price <i><b>(W)</b></i> and a retail price <i><b>(R)</b></i>.

        </p>

    </body>

</html>


    {% next_button %}

{% endblock %}
