{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
    {% if is_reject == 'rejected' %}
    <h2>Your offer was rejected.</h2>
    <p>
        The supplier has rejected your third wholesale price offer of {{ player.W }} because it is below her production cost.
    </p>
    <p>
        You have no more opportunities to make the supplier an acceptable offer.
    </p>
    <p>
        {{next_info}}
    </p>
    {% else %}
    <h2>Your offer was accepted.</h2>
    <p>
        Congratulations. The supplier has accepted your wholesale price offer of {{ player.W }}.
    </p>
    <p>
        Click the "Next" button to continue with the experiment!
    </p>
    {% endif %}

    <p>{% next_button %}</p>
</body>
</html>
{% endblock %}
