{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    <b>Marketing & Procurement manager page</b><br>
    Role Assignment and Matching
{% endblock %}

{% block content %}
    <div class="container my-4">
        <ul>
            <li>Your participant ID number is: {{ID_number}}</li>
            <li>You are assigned to act as the firm’s {{role}}.</li>
            <li>You are matched with ID number {{ID_match}} to conduct the following experiment.</li>
        </ul>

        {% next_button %}
    </div>
{% endblock %}
