{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Procurement Manager Decision instructions:
{% endblock %}

{% block content %}

    <p>

<p class="keith"> You have been assigned the role of <font color="blue">a Manager who is responsible for both procurement and marketing</font> for the duration of this experiment.<br>
<font color="red">Context:</font> As <font color="blue">a Manager who is responsible for both procurement and marketing</font>, you are endowed with initial capital (X) 10 dollars for procurement. Using this information, you could first make an offer less than 10 dollars to purchase one unit of the sample product from the supplier.<br>
<font color="red">Payoff:</font> All of you would have a participation fee (F) at the beginning of the experiment. During the study, you will have the opportunity to earn more payoffs that will be paid to you after the experiment.<br>

<font color="red">Your Actions:</font> As a Manager who is responsible for both procurement and marketing, you would set both wholesale price (W) and retail price (R). How you choose Q and W is up to you.<br>

<font color="red">Parameters:</font> Research suggests that the suppliers’ average cost to produce (C) is <font color="red">6 dollars</font> per-unit, and the actual suppliers’ cost (c) is uniformly distributed around (C). Consumers’ willingness to pay (P) is on average <font color="red">14 dollars</font> per-unit, and the actual consumers’ willingness to pay (p) is uniformly distributed around (P). Your choice of wholesale price (W) and retail price (R) should be set based on these value.<br>

<font color="blue"> You will now go through the parameter table and multimedia explanation of the details of this experiment.</font>
    </p>

    {% next_button %}

{% endblock %}
