{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Set the retail price as the marketing manager:
{% endblock %}

{% block content %}
    <p>
                <p class="keith">
Your offer is <font color="red"> Accepted </font>, and now you would play the role of a marketing manager. The market manager receives the procurement manager’s offer to purchase and would decide the retail price (R) for the products.<br>
Research suggests that the consumers’ average willingness to pay (P) is <font color="red"> 14 dollars </font> per-unit. How much would like to set for one unit of coffee sample according to the consumers’ average willingness to pay (Set the retail price larger than your wholesale price)


    </p>
    <p>{% formfields  %}</p>
    <p>{% next_button %}</p>

{% endblock %}