{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Welcome to participate in our research study!
{% endblock %}

{% block content %}

    <html>
    <body>


        <p style="line-height: 2em;">

    Welcome! <br>
    We invite you to be part of an online research study. Please read the instruction carefully before starting the experiment. The total time taken today is estimated to be about 20 minutes. We will ask you to answer several questions. The study's overall objective is to better understand how the single person who is responsibel for both procurement and marketing pricing in a retail company would affect the final sales and profits.<br>
    All of you would have a participation fee before the begining of the experiment. During the study, you will have the opportunity to earn more payoffs that will be paid to you after the experiment. The amount of income you earn depends on your decisions. The participants who complete the whole experiment, which means successfully sells the product to the customers would be paid for the highest payoff. <br>
    Pick up your favorite coffee and click the next button to start your experiment!
        </p>

    </body>

</html>


    {% next_button %}

{% endblock %}
