{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Welcome to participate in our research study!
{% endblock %}

{% block content %}

    <html>
    <body>


        <p class="keith">

    Welcome! <br>
    We invite you to be part of an online research study. Please read the instruction carefully before starting the experiment. The total time taken today is estimated to be about 20 minutes. We will ask you to answer several questions. The study's overall objective is to better understand how the single person who is responsible for both procurement and marketing pricing in a retail company would affect the final sales and profits.

        </p>

    </body>

</html>


    {% next_button %}

{% endblock %}
