{% extends "global/Page.html" %}
{% load otree %}



{% block content %}
    <p>
                <p style="line-height: 2em;">

        <h2>The final results:<br></h2>
        Congratulations！You have finished the coffee experiment. Your firm earned <b>${{ player.earn }}</b> of profit
    and your payment for the coffee experiment is <b>${{ player.total_bonus }}</b>.<br><br>

    Click the "Next" button to finish the post-experimental survey!

    </p>

    <p>{% next_button %}</p>


{% endblock %}