{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Certainty Equivalent Game
{% endblock %}

{% block content %}

    <html>
    <body>


        <p style="line-height: 2em;">
In the following, you'll face  a sequence of decisions listed on your screen. Each decision is a paired choice between "Option A" and "Option B".  "Option A" is a lottery that pays $0 with 50% probability and $25 with 50% probability; "Option B" yields a varying payoff for sure, i.e. with a probability of 100%.<br>
 When you are finished, one of your decisions will be randomly picked for your payoff. If you decided for "Option A", a random number will be drawn to determine your earnings; if you decided for "Option B" you'll receive the respective sure amount. <br>
            1. Which option could you like to choose?<br>
{#<input type="text" name="CEM_zero" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="CEM_zero" value="0"> OptionA: A lottery pays you either $0 or $25 with 50-50 probability <br>
         <input type="radio"  name="CEM_zero" value="1"> OptionB: A guaranteed payout of $0 <br>
    </div>
            2. Which option could you like to choose?<br>
{#<input type="text" name="CEM_one" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="CEM_one" value="0"> OptionA: A lottery pays you either $0 or $25 with 50-50 probability  <br>
         <input type="radio"  name="CEM_one" value="1"> OptionB: A guaranteed payout of $2.50 <br>
    </div>
            3. Which option could you like to choose?<br>
{#<input type="text" name="CEM_two" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="CEM_two" value="0"> OptionA: A lottery pays you either $0 or $25 with 50-50 probability  <br>
         <input type="radio"  name="CEM_two" value="1"> OptionB: A guaranteed payout of $5.00 <br>
    </div>
            4. Which option could you like to choose?<br>
{#<input type="text" name="CEM_three" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="CEM_three" value="0"> OptionA: A lottery pays you either $0 or $25 with 50-50 probability <br>
         <input type="radio"  name="CEM_three" value="1"> OptionB: A guaranteed payout of $7.50 <br>
    </div>
         5. Which option could you like to choose?<br>
{#<input type="text" name="CEM_four" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="CEM_four" value="0"> OptionA: A lottery pays you either $0 or $25 with 50-50 probability  <br>
         <input type="radio"  name="CEM_four" value="1"> OptionB: A guaranteed payout of $10.0 <br>
    </div>
         6. Which option could you like to choose?<br>
{#<input type="text" name="CEM_five" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="CEM_five" value="0"> OptionA: A lottery pays you either $0 or $25 with 50-50 probability  <br>
         <input type="radio"  name="CEM_five" value="1"> OptionB: A guaranteed payout of $12.50 <br>
    </div>

        </p>

    </body>

</html>


    {% next_button %}

{% endblock %}


