{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Certainty Equivalent Game
{% endblock %}

{% block content %}



    <html>
    <body>

        <p style="line-height: 2em;">
1. In the following, you'll face several decisions listed on your screen. Each decision is a paired choice between "Option A" and "Option B".  "Option A" is a lottery that pays $0 with 50% probability and $25 with 50% probability; "Option B" yields a varying payoff for sure, i.e. with a probability of 100%.<br>


{#<input type="text" name="CEM_five" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="CEM_five" value="0"> A lottery pays you either $0 or $25 with 50-50 probability.  <br>
         <input type="radio"  name="CEM_five" value="1"> A guaranteed payout of $12.50 <br>
    </div>

    </body>

</html>


    {% next_button %}

{% endblock %}

