{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Congratulations, you have finished the experiment.


{% endblock %}

{% block content %}

    <html>
    <body>


        <p style="line-height: 2em;">
        Your experiment ID is: {{id}}    <br>
        Your coffee experiment payment is: ${{player.total_bonus}}    <br>
        Your trust game payment is:  ${{payoff_trust}}     <br>
        Your certainty equivalent game payment is:  ${{payoff_cem}}    <br>
        <b>Your total payment is: ${{payoff_all}}</b>  <br><br>
        Please <b>do not</b> close this page and waiting for other participants to finish the experiment, then we will pay you by cash! <br>
        </p>

    </body>

</html>


{% endblock %}