{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Congratulations, you have finished the experiment.


{% endblock %}

{% block content %}

    <html>
    <body>


        <p style="line-height: 2em;">
        Your experiment id is: {{id}}    <br>
        Your coffee experiment payoff is:     <br>
        Your trust game payoff is:       <br>
        Your certainty equivalent game payoff is:      <br>
        Your total payoff is:   <br>
        </p>

    </body>

</html>


    {% next_button %}

{% endblock %}