{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Market Research Information


{% endblock %}

{% block content %}

    <html>
    <body>


        <p style="line-height: 2em;">
        Your chain’s <b>market research division</b> is tasked with providing you with the information necessary to make good wholesale and retail pricing decisions for your company.<br>

<h2>Supplier Cost Information:</h2>
The research division has found that the <u>average production cost</u> of all roasted coffee suppliers is 6 dollars per pound. However, any particular supplier’s <u>actual production cost</u>  is private information. Research reports that it could be anywhere between 2 and 10 dollars per pound with equal likelihood. <br><br>

<h2>Consumer Information:</h2>
Similarly, the research division has found that <u>on average</u> a retail customer is willing to pay 6 dollars per cup of high quality coffee. However, some customers will pay much more, or less, than this amount. Research reports that retail customers are willing to pay anywhere between 2 and 10 dollars per cup, with equal likeliness.<br><br>

        <u> Note:</u> Supplier cost is given per pound but consumer willingness to pay is given per cup. Your firm converts one pound of roasted beans produces retail-ready 28 cups of coffee. <br><br>

        You should take this information into account when choosing a wholesale price <i><b>(W)</b></i> and a retail price <i><b>(R)</b></i>.

        </p>

    </body>

</html>


    {% next_button %}

{% endblock %}
