{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
 Payment: Accepted Order
{% endblock %}

{% block content %}

    <html>
    <body>


        <p style="line-height: 2em;">
            If the <u>Supplier</u> <b>accepts</b> your offer, your coffee will be offered for sale at the chain’s retail locations.
 <br><br>

        </p>

        <u><b>Your current payoff in words</b></u>: You will earn your show up fee of $7 plus two additional bonuses which are designed to incentivize good decision making: a cost savings bonus is equal to half of the difference between your sourcing budget and your wholesale offer, and a profit sharing bonus which is equal to half of the profit earned from retail sales.
 <br>
        <u><b>Your current payoff in math</b></u>: 7 + 0.5 * (10 - W) <br> <br>
        <b> We provide you with a calculator for testing purposes, that displays both bonuses and your total payment for today’s work for any choice of R and W that you might consider. </b>


    </body>

</html>


    {% next_button %}

{% endblock %}
