{% extends "global/Page.html" %}
{% load otree %}



{% block content %}
    <p>
                <p style="line-height: 2em;">

        {% if is_reject == 'rejected' %}
        <h2>Your order is Rejected.<br></h2>
        Sorry, your offer is Rejected according to the suppliers’ actual cost. Your final payoff is the show up fee 7 dollars <br><br>
        {{next_info}}<br>

        {% else %}
            <h2>Your order is Accepted.<br></h2>

    Congratulations！Your offer is Accepted according to the suppliers’ actual cost c = {{ player.C }}. Your currently earn cost savings bonus {{ cost_bonus }} dollars<br><br>

    Click the "next" button for the following experiment!<br>

        {% endif %}
    </p>

    <p>{% next_button %}</p>


{% endblock %}
