{% extends "global/Page.html" %}
{% load otree %}



{% block content %}
    <p>
                <p style="line-height: 2em;">

        {% if is_reject == 'rejected' %}
        <h2>Your offer was rejected.<br></h2>
The supplier has rejected your first wholesale price offer of $Wi (populate the entered value so people don’t forget) because it is below her production cost. You have two more opportunities to make the supplier an acceptable offer.<br><br>

        {{next_info}}<br>

        {% else %}
            <h2>Your offer was accepted.<br></h2>

    Congratulations. The supplier has accepted your wholesale price offers of $W3 (populate the entered value so people don’t forget)<br><br>
    Click the "next" button to continue with the experiment!<br>

        {% endif %}
    </p>

    <p>{% next_button %}</p>


{% endblock %}
