{% extends "global/Page.html" %}
{% load otree %}



{% block content %}
    <p>
                <p style="line-height: 2em;">

        <h2>The final profits of your firm and your total payment for coffee experiment is:<br></h2>
        Congratulations！You have finishing the experiment. Your firm earn {{ player.earn }} dollars of profit
    and your final bonus payment is {{ player.total_bonus }}<br><br>

    Click the "Next" button for the following experiment!

    </p>

    <p>{% next_button %}</p>


{% endblock %}