{% extends "global/Page.html" %}
{% load otree %}



{% block content %}
    <p>
                <p style="line-height: 2em;">

        <h2>The final profits of your firm and your total payment for the coffee experiment is:<br></h2>
        Congratulations！You have finishing the coffee experiment. Your firm earned <b>{{ player.earn }} dollars</b> of profit
    and your payment for the coffee experiment is <b>{{ player.total_bonus }} dollars</b>.<br><br>

    Click the "Next" button to finish the post-experiment survey!

    </p>

    <p>{% next_button %}</p>


{% endblock %}