{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Procurement price setting
{% endblock %}

{% block content %}
{{ formfield_errors 'lockin' }}

Now you have the opportunity to use your procurement bond of 10 dollars (set your W no larger than 10) to make
an offer to suppliers and this is your <b>{{ round }}</b> of 3 opportunities. What's your
choice of your procurement price for one pound of coffee? <br><br>

{% formfield 'W' label="Enter W here" %} <br>


<input id="lock" class="btn btn-primary" name="lockin" value="Test" onclick="checkSubmit2()"> </input> <br>
The suppliers’ cost is normally distributed. <br>



● Probability of acceptance of {{round_n}} offer: At this W, the probability that your offer will be accepted is {{ prob }} % . <br>
● Conditional Payout: If your bid W is accepted, assuming that marketing makes a good decision: your payoff is {{optimal_profit_bonus}}. <br>

<button type="button" name="lockin" value="Finalize Price" class="btn btn-primary" onclick="checkSubmit()">Finalize
    Price
</button><br>

<script>
        function checkSubmit() {
            let form = document.getElementById('form');
            let isValid = form.reportValidity();
            if (!isValid) return;

            let warnings = [];


            if (warnings.length >= 0) {
                warnings.push("Confirm your bid?")
                let confirmed = window.confirm(warnings.join('\r\n'));
                if (!confirmed) return;
            }
            document.getElementById('lock').value = 'lockin';

            form.submit();
        }

                function checkSubmit2() {
            let form = document.getElementById('form');
            let isValid = form.reportValidity();
            if (!isValid) return;

            form.submit();
        }


</script>


{#    {% next_button %}#}

{% endblock %}
