{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Procurement price setting
{% endblock %}

{% block content %}

What’s your choice of procurement price?<br><br>

    {% formfield 'W' label="Enter W here" %}


    <div class="controls">
         <input type="radio"  name="lockin" value="0"> Test
         <input type="radio"  name="lockin" value="1"> Lock in <br>
    </div>

    ● At this W, you offer will be  {{is_reject}} <br>
    ● Your current bonus is {{ reward }} <br>


    {% next_button %}

{% endblock %}
