{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    retail price setting

{% endblock %}

{% block content %}

What’s your choice of retail price(R)?<br><br>

    {% formfield 'R' label="Enter R here" %}


    <div class="controls">
         <input type="radio"  name="lockin2" value="0"> Test
         <input type="radio"  name="lockin2" value="1"> Lock in <br>
    </div>

    ● At this R, you will sell {{sell}} <br>
    ● Your firm earn {{ earn }} dollars of profit<br>
    ● Your bonus payment is {{ bonus }}<br>

    {% next_button %}

{% endblock %}

