{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
What do you think about the coffee?
{% endblock %}

{% block content %}



    <html>
    <body>


        <p style="line-height: 2em;">
4. On a scale of 1 to 5, where 1 is <u> extremely unpleasant</u> and 5 is <u> extremely pleasing</u>, please evaluate the <b>flavor of the coffee</b> you selected based on your tasting.
{#<input type="text" name="coffee_like" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="coffee_flavor" value="0"> extremely unpleasant <br>
         <input type="radio"  name="coffee_flavor" value="1"> unpleasant <br>
         <input type="radio"  name="coffee_flavor" value="2"> fair <br>
         <input type="radio"  name="coffee_flavor" value="3"> pleasing <br>
         <input type="radio"  name="coffee_flavor" value="4"> extremely pleasing <br>
    </div>

    </body>

</html>


    {% next_button %}

{% endblock %}

