{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
What do you think about the coffee?
{% endblock %}

{% block content %}



    <html>
    <body>


        <p style="line-height: 2em;">
9. On a scale of 1 to 10, where 1 is <u>not at all likely </u> and 10 is <u>extremely likely</u>, how likely would you be to<b> Buy this coffee for personal consumption</b>?

    <div class="controls">
                    Not at all likely

         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('1')"> 1 </button>
         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('2')"> 2 </button>
         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('3')"> 3 </button>
         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('4')"> 4 </button>
         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('5')"> 5 </button>
         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('6')"> 6 </button>
         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('7')"> 7 </button>
         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('8')"> 8 </button>
         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('9')"> 9 </button>
         <button type='button' id="lock" class="btn btn-light" name="coffee_buy" value="1" onclick="checkSubmit('10')"> 10 </button>
        Extremely likely
    </div>


        <br><br>
     <button type="button" id="p" class="btn btn-primary" onclick="checkSubmit2()"> Next </button>
    <input type="hidden" name="coffee_buy" id="cd" > </input>
    </body>
</html>

    <script>
    let res = '';
        function checkSubmit(num) {
            let form = document.getElementById('form');
            let isValid = form.reportValidity();
            if (!isValid) return;
            document.getElementById('lock').value = num;
            res = num;
        }

        function checkSubmit2() {
            let form = document.getElementById('form');
            let isValid = form.reportValidity();
            if (!isValid) return;
            document.getElementById('cd').value = res;

            form.submit();
        }


    </script>
{% endblock %}
