{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Coffee Selection Evaluation<br>
{% endblock %}

{% block content %}



    <html>
    <body>


        <p style="line-height: 2em;">
1. Of the five provided options, which coffee will you attempt to procure?
{#<input type="text" name="coffee_like" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="coffee_like" value="0"> W7 <br>
         <input type="radio"  name="coffee_like" value="1"> T3 <br>
         <input type="radio"  name="coffee_like" value="2"> E6 <br>
         <input type="radio"  name="coffee_like" value="3"> R0 <br>
         <input type="radio"  name="coffee_like" value="4"> D5 <br>
    </div>
    </body>

</html>


    {% next_button %}

{% endblock %}
