{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
What do you think about the coffee?
{% endblock %}

{% block content %}



    <html>
    <body>


        <p style="line-height: 2em;">
7. On a scale of 0 to 10, where 0 is <u> not at all likely</u> and 10 is <u>extremely likely</u>, how likely would you be to <b>Drink this coffee again</b>?
{#<input type="text" name="coffee_like" ><br><br>#}
    <div class="controls">
         <input type="radio"  name="coffee_drink" value="0"> 0 <br>
         <input type="radio"  name="coffee_drink" value="1"> 1 <br>
         <input type="radio"  name="coffee_drink" value="2"> 2 <br>
         <input type="radio"  name="coffee_drink" value="3"> 3 <br>
         <input type="radio"  name="coffee_drink" value="4"> 4<br>
         <input type="radio"  name="coffee_drink" value="5"> 5 <br>
         <input type="radio"  name="coffee_drink" value="6"> 6 <br>
         <input type="radio"  name="coffee_drink" value="7"> 7 <br>
         <input type="radio"  name="coffee_drink" value="8"> 8 <br>
         <input type="radio"  name="coffee_drink" value="9"> 9 <br>
         <input type="radio"  name="coffee_drink" value="10"> 10 <br>
    </div>

    </body>

</html>


    {% next_button %}

{% endblock %}
