{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Experimental Introduction

{% endblock %}

{% block content %}

    <html>
    <body>


    <p style="line-height: 2em;">
    <h2>Welcome to our experiment:</h2>
    We invite you to be part of an online research study. Please read the instruction carefully before starting the
    experiment. The total time taken today is estimated to be about 20 minutes. We will ask you to answer several
    questions. The study's overall objective is to better understand the behavioral implications of how procurement and
    marketing takes place in a retail firm.<br><br>

    <h2>Context:</h2>
    For the duration of this experiment, you will act as the General Manager of a chain of coffee shops. In this role
    you are responsible for your firm’s sourcing and marketing decisions, both of which directly affect the chain’s
    profit and your payment for today’s work.<br><br>

    <h2>Experimental Mechanics:
    </h2>

    You begin the experiment with initial funding of 10 dollars, which you may use to source input product
    (one pound of roasted coffee) from a supplier of your choice, at a wholesale price <i><b>(W)</b></i> that you pick. Should you
    succeed in sourcing the roasted coffee your firm will process this input into 28 standard 8oz servings of brewed
    coffee. This brewed coffee will be offered for sale by your chain of coffee shops, at retail price <i><b>(R)</b></i> which you
    will select. How you set <i><b>W</b></i> and <i><b>R</b></i> is up to you, but you should choose them carefully.<br><br>

    </p>

    </body>

    </html>


    {% next_button %}

{% endblock %}