{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<b>Please wait for password</b><br>

{% endblock %}

{% block content %}



    <html>
    <body>
After we have finished reviewing the instructions together, we will provide you with a password to complete two short incentivized economic decision-making games prior to starting the main experiment.<br>
        <p style="line-height: 2em;">
            {% formfields %}
    </body>

</html>


    {% next_button %}

{% endblock %}

