{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'cem/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "CE Game" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p>
                In the following, you'll face {{ Constants.num_choices }} decisions listed on your screen. Each decision is a paired
                choice between "Option A" and "Option B". You will make {{ Constants.num_choices }} choices and record these in the
                middle column, but only one of them will be randomly picked in the end to determine your earnings.
        </p>
        <p>
                "Option A" is a lottery that pays {{ Constants.lottery_hi }} with {{ Constants.probability }}% probability and {{ Constants.lottery_lo }} otherwise;
                "Option B" yields a varying payoff for sure, i.e. with a probability of 100%.
        </p>
        <p>
                After you have made all of your choices, one of the {{ Constants.num_choices }} decisions will be randomly chosen for
                your payment. If you chose to opt for "Option A" in this decision, it will be randomly determined
                whether the low or high payoff will constitute your payoff; if you chose to opt for "Option B", the
                respective sure amount will constitute your payoff.
        </p>
        <p>
                Even though you will make {{ Constants.num_choices }} decisions, only one of these will end up affecting your earnings,
                but you will not know in advance which decision will be used. Obviously, each decision has an equal
                chance of being used in the end.
        </p>
        <br/>
        <p>
                To summarize: You will make {{ Constants.num_choices }} choices; for each decision you will have to choose between
                "Option A" and "Option B". You may choose A for some decision rows and B for other rows. When
                you are finished, one of the {{ Constants.num_choices }} decisions will be randomly picked for your payoff. If you
                decided for "Option A", a random number will be drawn to determine your earnings; if you decided
                for "Option B" you'll receive the respective sure amount.
        </p>
        <p>
                At the end of the experiment, your final points from this game will be converted to a dollar payment using the following
                exchange rate: <b>1 point = 0.02 dollars.</b>

        </p>
    </div>

    {% next_button %}
{% endblock %}